.memo-btn{
  width: 120px;
  background-color: #4dce3c;
  text-align: center;
  border-radius: 4%;
  bottom: 160px;
  right: 32px;
  position: fixed;
  padding: 40px;
}

.memo-btn-text {
  color: rgb(235, 229, 229);
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.memos-header{
  padding: 5vh 0;
  text-align: center;
}

.memos-contents{
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.memos-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.memos-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
